html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
}

header,
main,
footer {
  padding: 40px 60px 60px 60px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pic img {
  max-width: 400px;
  height: auto;
}

.header-pic {
  position: relative;
}

.header-pic h1 {
  font-size: 3.3rem;
  width: 100%;
  position: absolute;
  bottom: 5px;
  color: white;
  text-align: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 580px;
  min-height: 350px;
  padding: 25px;
}

.icons {
  display: flex;
  justify-content: end;
  gap: 15px;
}

img[src$="svg"] {
  display: block;
  width: 23px;
  height: 23px;
}

.project,
.header-text {
  box-shadow: 3px 3px 8px #d0d0d0;
}

main h2 {
  margin-bottom: 8px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 45px;
}

.ss {
  padding: 60px;
  font-size: 3.7rem;
  color: white;
}

.one {
  background-color: #9e1c1c;
}

.two {
  background-color: #7c75ca;
}

.three {
  background-color: #5e8f4d;
}

.four {
  background-color: #c363b4;
}

.five {
  background-color: #d88f39;
}

.six {
  background-color: #4ba2d2;
}

.ss-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

main h3 + .icons {
  justify-content: initial;
}

.ss + div {
  padding: 11px 21px 70px 21px;
}

header p,
.ss-text {
  color: #565656;
}
