html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
}

.container {
  flex: 1;
  max-width: 2000px;
  margin: auto;
}

header,
main,
footer {
  padding: 40px 60px 60px 60px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(170deg, #0891b2, #0891b2 60%, white 60%, white);
}

.header-pic img {
  width: 100%;
  height: auto;
}

.header-pic {
  position: relative;
  max-width: 400px;
}

.header-pic h1 {
  position: absolute;
  font-size: 3.3rem;
  width: 100%;
  bottom: 5px;
  color: white;
  text-align: center;
}

.header-text {
  max-width: 580px;
  min-height: 350px;
  padding: 25px;
  background-color: white;
}

.header-text h2 {
  margin: 30px 0;
}

.header-text p {
  margin: 20px 0;
}

.header-text .icons {
  justify-content: end;
  margin-top: 40px;
}

.icons {
  display: flex;
  gap: 15px;
}

img[src$="svg"] {
  display: block;
  width: 23px;
  height: 23px;
}

.project,
.header-text {
  box-shadow: 3px 3px 8px #d0d0d0;
}

main h2 {
  margin-bottom: 8px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 45px;
}

.ss {
  padding: 60px;
  font-size: 3.7rem;
  color: white;
}

.one {
  background-color: #9e1c1c;
}

.two {
  background-color: #7c75ca;
}

.three {
  background-color: #5e8f4d;
}

.four {
  background-color: #c363b4;
}

.five {
  background-color: #d88f39;
}

.six {
  background-color: #4ba2d2;
}

.ss-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 14px;
}

.ss + div {
  padding: 11px 21px 70px 21px;
}

header p,
.ss-text {
  color: #565656;
}

footer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  background-color: #0891b2;
  color: white;
}

footer .icons {
  gap: 25px;
}

footer .icons img {
  width: 40px;
  height: 40px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-address {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.contact-address > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  header {
    position: relative;
    padding-top: 80px;
  }

  .header-pic {
    position: absolute;
    top: 30px;
    left: calc(30% - 150px);
    max-width: 300px;
  }

  .header-pic h1 {
    font-size: 2.3rem;
    top: 5px;
    left: 170px;
    max-width: 400px;
  }

  .header-text {
    min-height: 450px;
  }

  .placeholder {
    width: 250px;
    height: 250px;
    float: left;
  }

  footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 870px) {
  header {
    position: static;
  }

  header {
    flex-direction: column;
    padding-top: 40px;
  }

  .header-pic {
    position: relative;
    top: 0;
    left: 0;
  }

  .header-pic h1 {
    width: 100%;
    left: 0;
    top: 85%;
  }

  header h2 {
    text-align: center;
  }

  .header-text .icons {
    justify-content: center;
  }

  .placeholder {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  footer .icons {
    justify-content: center;
  }

  footer .contact-img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header-pic h1 {
    top: 88%;
  }

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .ss {
    font-size: 1.8rem;
  }

  .header-text,
  .ss + div,
  footer {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .header-pic h1 {
    font-size: 1.5rem;
  }
}
